<%- include('layout/header') %>

<h1 style="font-size: 7rem;text-align: center;font-family: monospace;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
    Welcome to homepage
</h1>

<%- include('layout/footer') %>
